mixin table-tree(items, level = 1)
    each p, index in items
        - const prefix = Array(level + 1).join("-- ")
        tr 
            td 
                input(
                    type="checkbox"
                    name="id"
                    value=p.id
                )
            td #{p.index}
            td 
                img(src=p.thumbnail, alt= p.title width="100px" heigh="auto")
            td #{prefix} #{p.title}
            td 
                input(
                    type="number"
                    value=p.position 
                    style="width: 60px"
                    min="1"
                    name="position"
                )
            td
                if(role.permissions.includes("products-category-edit"))
                    if(p.status === "active")
                        a(
                            href="javascript:;"
                            data-status= p.status 
                            data-id= p.id
                            button-change-status
                            class="badge badge-success"
                        ) Hoạt động
                    else 
                        a(
                            href="javascript:;" 
                            data-status= p.status 
                            data-id= p.id
                            button-change-status
                            class="badge badge-danger"
                        ) Dừng hoạt động
                else 
                    if(p.status === "active")
                        span(
                                href="javascript:;" 
                                data-status= p.status 
                                data-id= p.id
                                class="badge badge-success"
                            ) Hoạt động
                    else 
                        span(
                            href="javascript:;" 
                            data-status= p.status 
                            data-id= p.id
                            class="badge badge-danger"
                        ) Dừng hoạt động

            td 
                if(role.permissions.includes("products-category-view"))
                    a(
                        href=`${prefixAdmin}/products-category/detail/${p.id}`
                        class="btn btn-secondary btn-sm"  
                    ) Chi tiết

                if(role.permissions.includes("products-category-edit"))
                    a(
                        href=`${prefixAdmin}/products-category/edit/${p.id}`
                        class="btn btn-warning btn-sm"  
                    ) Sửa 
                else 
                    a(
                        class="btn btn-warning btn-sm"  
                    ) Sửa 
                if(role.permissions.includes("products-category-delete"))
                    button(
                        class="btn btn-danger btn-sm ml-1"
                        button-delete
                        data-id=p.id
                    ) Xóa
        
        if(p.children && p.children.length > 0)
                +table-tree(p.children, level + 1)

//- table-tree cho articles-category
mixin table-tree-articles-category(items, level = 1)
    each p, index in items
        //- dùng để phân cấp cha con
        - const prefix = Array(level + 1).join("-- ")
        tr 
            td 
                input(
                    type="checkbox"
                    name="id"
                    value=p.id
                )
            td #{p.index}
            td 
                img(src=p.thumbnail, alt= p.title width="100px" heigh="auto")
            //- #{prefix} dùng để phân cấp cha con
            td #{prefix} #{p.title} 
            td 
                input(
                    type="number"
                    value=p.position 
                    style="width: 60px"
                    min="1"
                    name="position"
                )
            td
                if(p.status === "active")
                    a(
                        href="javascript:;"
                        data-status= p.status 
                        data-id= p.id
                        button-change-status
                        class="badge badge-success"
                    ) Hoạt động
                else 
                    a(
                        href="javascript:;" 
                        data-status= p.status 
                        data-id= p.id
                        button-change-status
                        class="badge badge-danger"
                    ) Dừng hoạt động
            td 
                p #{p.accountFullName}
            td 
                - const updateByUser = p.updatedBy[p.updatedBy.length - 1];
                if(updateByUser) 
                    p #{updateByUser.accountFullName}
                    p #{moment(updateByUser.updatedAt).format('DD/MM/YYYY HH:mm')}
            td 
                if(role.permissions.includes("articles-view"))
                    a(
                        href=`${prefixAdmin}/articles-category/detail/${p.id}`
                        class="btn btn-secondary btn-sm"  
                    ) Chi tiết
                if(role.permissions.includes("articles-edit"))
                    a(
                        href=`${prefixAdmin}/articles-category/edit/${p.id}`
                        class="btn btn-warning btn-sm"  
                    ) Sửa 
                if(role.permissions.includes("articles-delete"))
                    button(
                        class="btn btn-danger btn-sm ml-1"
                        button-delete
                        data-id=p.id
                    ) Xóa
        
        if(p.children && p.children.length > 0)
                +table-tree-articles-category(p.children, level + 1)